<div id="<%= dom_id reservation %>">
  <p>
    <strong>City:</strong>
    <%= reservation.city %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Bike:</strong>
    <%= reservation.bike_id %>
  </p>

</div>
