<div id="<%= dom_id bike %>">
  <p>
    <strong>Name:</strong>
    <%= bike.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bike.description %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= bike.deposit %>
  </p>

  <p>
    <strong>Finance fee:</strong>
    <%= bike.finance_fee %>
  </p>

  <p>
    <strong>Option to purchase fee:</strong>
    <%= bike.option_to_purchase_fee %>
  </p>

  <p>
    <strong>Total amount payable:</strong>
    <%= bike.total_amount_payable %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= bike.duration %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bike.user_id %>
  </p>

</div>
